# Byte-compiled / optimized / DLL files
__pycache__/
bbrest/__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
*.ipynb
.ipynb*
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Environments
.env
.env.*
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
*.vscode*
.idea
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_STORE
Thumbs.db

# Poetry
poetry.lock

# Project specific
config.py
*transcrypt*
*.csv
*log
*txt

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variables file
.env